.sidenav {
    float: left;
    width: 150px;
    background-color: #343D50;
    li {
        padding-left: 10px;
        height: 32px;
        line-height: 32px;
        a {
            color: #9CA3A7;
        }
    }
}
.content {
    margin-left: 150px;
}